.contact{
    /* background: #1E1E1E; */
    width: 100%;
}
.contact1{
    display: flex;
    width: 80%;
    /* background: red; */
    align-items: center;
    justify-content: center;
}
.contact2 img{
    width: 500px;
}
.contact form{
    padding-left: 3rem;
    font-size: 1.5rem;
}
.contact form input{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
}
.contact button{
    width:300px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 60px;
}
.chek{
    width: 10px;
}

.chek   input {
    width: 10px;
}
.cheks{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}